<div class="sign-in-container">


  <br>
  <div class="animated fadeIn log-in-page modal-content">
  <h3 class="sign-up-in-form">Sign In</h3>

    <form class="sign-up-in-form" action="<%= session_url %>" method="post">
      <%= auth_token_input %>

      <label>
        Username
        <input type="text" name="user[username]" value="">
      </label>

      <label>
        Password
        <input type="password" name="user[password]" value="">
      </label>

      <input type="submit" value="Sign In">
      <br>
      <br>
    </form>
      <form class="sign-up-in-form" action="<%= session_url %>" method="post">
    <p >Not a Member?
      <%= link_to "Sign up here!", new_user_url %>
      </form>
    </p>
  </div>
</div>
